<!doctype html>
<meta charset="utf-8">

<html>
    <head>
        <meta charset="utf-8">
        <title>PowerCycler</title>	
        <style>
            /* h1 { background-color: green;
                    color: white;
            }
            p { text-align: center; 
                color: green;
            } */
            </style>
        <script>
            function onSubmit(command, form ){
                const formData = new FormData(form).entries();
                let jsonObject = {};

                jsonObject["cmd"] = command;
                for (const [key, value]  of formData) {
                    jsonObject[key] = value;
                }
                console.log(JSON.stringify(jsonObject));

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "setup", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify(jsonObject));
                return false; //don't submit
            }

            window.onload = function() {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;
                if (this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    console.log(data);
                    document.getElementById("nameTxt").value = data.name;
                    document.getElementById("locationTxt").value = data.location;
                    document.getElementById("brokerTxt").value = data.broker;
                    document.getElementById("rootTopicTxt").value = data.rootTopic;
                    document.getElementById("tempTopicTxt").value = data.tempTopic;
                    document.getElementById("humTopicTxt").value = data.humTopic;
                    document.getElementById("binTopicTxt").value = data.doorTopic;
                    document.getElementById("signalTopicTxt").value = data.signalTopic;
                    document.getElementById("promptTopicTxt").value = data.promptTopic;
                }
                };
                xhr.open('GET', "setup", true);
                xhr.send();
            }
        </script>
    </head>
    <body>
        <h1>Weather-Station</h1>
        <p>This device is capable of sampling temperature and humidity in the placed room and transmit it to MQTT broker/server.</p>
        
        <h2>WiFi-Settings</h2>
        <p>After configuration of the station the access point is switched off and the device will connect to your local wifi.
            You can reset the configuration by pressing the device button during start up</p>
        <form onsubmit='return onSubmit("wifiCfg", this)'>
            <table>
                <tr>
                    <td>SSID</td>
                    <td> <input type="text" name="ssid"></input> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td> <input type="password" name="password"></input> </td>
                </tr>
            </table>
            <input type="submit"><br><br>
        </form>

        <h2>Device-Settings</h2>
        <p>Tag your device to get a better overview</p>
        <form name="StationForm" onsubmit='return onSubmit("locCfg", this)'>
            <table>
                <tr>
                    <td>DeviceName</td>
                    <td> <input type="text" id="nameTxt" name="name" value="MyStation"></input> </td>
                </tr>
                <tr>
                    <td>DeviceLocation</td>
                    <td> <input type="text" id="locationTxt" name="location" value="Anywhere in da house"></input> </td>
                </tr>
            </table>
            <input type="submit"><br><br>
        </form>

        <h2>MQTT-Settings</h2>
        <p>Protocol settings for cyclic telegrams. You can customize the topics in order to integrate this device in your home system</p>
        <form name="MqttForm" onsubmit='return onSubmit("mqttCfg", this)'>
            <table>
                <tr>
                    <td>MQTT-Broker</td>
                    <td> <input type="url" id="brokerTxt" name="broker" value="mqtt://myStation.fritz.box"></input> </td>
                </tr>
                <tr>
                    <td>RootTopic</td>
                    <td> <input type="text" id="rootTopicTxt" name="rootTopic" value="Sensor/MyRoom/"></input> </td>
                </tr>
                <tr>
                    <td>Temperature topic suffix</td>
                    <td> <input type="text" id="tempTopicTxt" name="tempTopic" value="Temp"></input> </td>
                </tr>
                <tr>
                    <td>Humidity topic suffix</td>
                    <td> <input type="text" id="humTopicTxt" name="humTopic" value="RelHum"></input> </td>
                </tr>
                <tr>
                    <td>Door or Window topic suffix</td>
                    <td> <input type="text" id="binTopicTxt" name="binTopic" value="Door"></input> </td>
                </tr>

                <tr>
                    <td>Signal topic</td>
                    <td> <input type="text" id="signalTopicTxt" name="signalTopic" value="base/signal"></input> </td>
                </tr>
                <tr>
                    <td>Prompt topic</td>
                    <td> <input type="text" id="promptTopicTxt" name="promptTopic" value="base/prompt"></input> </td>
                </tr>
            </table>
            <input type="submit"><br><br>
        </form>

        
    </body>
</html>


